/* Standard consistent element styles */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 4em;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
}

